# Python virtual environments
venv/
myenv/
env/

# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# macOS metadata
.DS_Store

# Testing and type checking caches
.pytest_cache/
.mypy_cache/
*.log
coverage/
*.cover
